@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
    


  --red: #e22c3c;
  --red-orange: #e9404b;
  --orange: #ee6748;
  --amber: #fa9f50;
  --yellow: #ffd85e;
  --lime: #97e768;
  --mint: #52eea3; 
  --cyan: #51e1e9;
  --cool-cyan: #43cfea;
  --light-blue: #54b6f8;
  --blue: #437cf3;
  --blue-violet: #6f51f4;
  --violet: #9446f8;
  --purple: #c952ed;
  --magenta: #e54f9b;
  --hot-red: #e3365e;
  --cool-gray: #515768;
  --default-text-color: #d0d0d0;
    
    --main-font: fira sans; 
    --main-font-color:var(--default-text-color);
    
    --header-background:;
    --header-text-color:var(--violet);
    --header-font: jetbrains mono
}

a {
    color: var(--purple) !important;
}

* {
    margin: 0;
    padding: 0;
    transition: 0.5s ease-in-out;
}

body {
    background: radial-gradient(circle at 130%,var(--magenta),var(--blue-violet),black,black);
    
}


.main-container {
    color: var(--main-font-color);
    width: 50vw;
    min-width: 375px;
    margin: auto;
    font-family: var(--main-font);
    font-size: 15px;
    height: 700px;

}



header {
    background: var(--header-background);
    color: var(--header-text-color);
    padding: 5px;
    text-shadow: 0px 0px 2px black
}
#header-title{
    font-size: 30px;
    font-family: var(--header-font);
    font-weight: bold;
}


.content {
    margin: 10px;
}

.aviso {
    background: rgba(124, 86, 226, 0.13);
    max-width: 600px;
    padding: 3px;
    font-size: 10px;
    text-align: center;
    border-radius: 10px;
}

#decoration{
    margin: 20px;
    width: 14vw;
    min-width: 160px;
    margin-top: calc(150px + (0.01vw - 10%));
    filter: drop-shadow(0px 0px 5px black);
    transition: 0.5s ease-in-out;
   
    
    
} #decoration:hover{
    animation: rainbow 1s infinite;
    transform: scale(1.2);
}

#info {
    margin-top: 70px;
    color: var(--violet);
    display: grid;
    border: 1px solid var(--blue-violet);
    padding-left: 20px;
    background: rgba(6, 0, 16, 0.7);
    padding-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 70px;
    border-radius: 10px;
    padding-right: 5px;
    box-shadow: 0px 0px 3px black;
    text-shadow: 0px 0px 3px black;
}
#info:hover{
    transform:translateY(-10px)
}

#he1{
    font-family: jetbrains mono;
    font-size: 25px;
    color: var(--violet);
    text-decoration: underline 3px;
} #he1:hover{
    transform: translateX(20px);

}

.proyecto {
    border: 1px solid var(--blue-violet);
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    width: 200px;
    min-width: 200px;
    background: rgba(7, 1, 16, 0.82);
    vertical-align: sub;
    box-shadow: 0px 0px 3px black;
    text-align: center;
    
} .proyecto:hover{
    box-shadow: 0px 0px 3px var(--blue);
    transform: scale(1.05)
}

.proyecto img{
    width: 100%;
    border-radius: 5px;
}

.proyecto #desc {
    font-size: 10px;
    text-align: center;
    margin: 5px;
}
#tag{

    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    display: grid;
    float: left;
    background: linear-gradient( var(--mint), var(--blue-violet) 60%);
    font-weight: bold;
    color: #0f0021;
    
    
}

.proyecto a{
    text-align: center;
    margin-bottom: 5px;
}

footer {
    text-align: center;
    font-size: 9px;
}


@media (max-width:878px){
    #decoration{
        margin: auto;
        margin-left: 90px;
        margin-right:300px;
    }
}


@keyframes rainbow{
    0%{
        filter: hue-rotate(0deg) drop-shadow(0px 0px 5px);
    }
    50%{
        filter: hue-rotate(180deg) drop-shadow(0px 0px 5px);
    }
    100%{
        filter: hue-rotate(360deg) drop-shadow(0px 0px 5px);
    }
}

#desc {
    text-shadow: 0px 0px 3px black;
    text-align: justify;
    border-left: 2px solid var(--violet);
    padding-left: 10px;
}

#skills {
    border-left:1px solid var(--violet);
    margin-top: 5px;
    margin-left: 35px;
    padding-top: 5px;
    padding-left: 5px;
}

#skills img {
    box-shadow: 0px 0px 3px black; 
}