@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@import "tailwindcss";
@import "tailwindcss-primeui";

/* import ttf font */
@font-face {
    src: url('/assets/fonts/Minecraft.ttf') format('truetype');
    font-family: 'Minecraft';
}

    * {
        transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) !important;
    }

.minecraft {
    font-family: 'Minecraft', monospace;
}

.hover-panel:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 7px var(--p-gray-800);
}

.hover-chip:hover {
    transform: translateY(-2px);
    text-shadow: 0 0 2px white;
}

