@import './assets/colors.css';

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
  border: 1px solid var(--border);
  border-radius: 8px;
  margin-bottom: 20px;
}

.text-gradient {
  background-image: linear-gradient(90deg, var(--purple-200), var(--purple-600));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.3s;
  cursor:crosshair;
  margin-bottom: 0;
}

.text-gradient:hover {
  transform: translateY(-5px);
  filter: drop-shadow(0 0px 10px var(--purple-700));
}

.subtitle {
  font-size: 1.25em;
  color: var(--purple-200);
  margin-bottom: 20px;
  text-wrap: nowrap;
  font-family: 'roboto', sans-serif;
  pointer-events: none;
}

.subtitle .typing {
  animation: textwriter 2s steps(40) 1 forwards;
  overflow: hidden;
  white-space: nowrap;
  display:inline-block;
}

.subtitle .caret {
  animation: blink-caret 0.75s step-end infinite;
}

@keyframes textwriter {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink-caret {
  from, to { color: transparent; }
  50% { color: var(--purple-200); }
}

.links {
  display: flex;
  gap: 12px;
  justify-content: center;
  margin-top: 12px;
  font-size: 1.5em;
  color: var(--purple-400);
}

.links i {
  cursor: pointer;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.3s;
}

.links i:hover {
  color: var(--purple-200);
  filter: drop-shadow(0px 0px 10px var(--purple-700));
}

.programming-languages {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 20px;
  font-size: 3em;
  color: var(--purple-200);
}

.programming-languages i {
  cursor: pointer;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.3s;
  margin-bottom: 1em;
}

.programming-languages i:hover {
  color: var(--purple-100);
  filter: drop-shadow(0px 0px 10px var(--purple-700));
  transform: translateY(-5px);
}
