.navbar .nav-links {
    list-style: none;
    display: flex;
    gap: 10px;
    margin: 0.5em;
    padding-left: 0;
    font-family: 'roboto', sans-serif;
    font-size: 1.2em;
    color: var(--purple-300);
    font-weight: bolder;
}


.nav-links li a {
    color: var(--purple-400)!important;
    text-decoration: none;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.3s;
}
.nav-links li a:hover {
    color: var(--purple-100)!important;
    text-shadow: 0px 0px 5px var(--purple-700);
}